@{
    ViewData["Title"] = "Assignment 5 Colin & Gavin";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gavin and Colins Music Shop!</h1>
    <img src="\Images\music-cats.jpg" alt="Music Cats" width="1200" height="800">
</div>
